{{ define "header" -}}
  {{ partial "header.html" . }}
{{- end }}

{{ define "content" -}}
<div class="index">
  {{ if where .Site.RegularPages.ByDate "Section" "posts" }}
  <div class="section articles">
    <h1 class="section-title">Articles</h1>
    <ul class="section-items">
      {{ range where .Site.RegularPages.ByDate "Section" "posts" }}
        <li class="item-link"><h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2></li>
      {{- end }}
    </ul>
  </div>
  {{- end }}

  <div class="section projects">
    <h1 class="section-title">Projects</h1>
    <ul class="section-items">
      <li class="item-link">
        <h2><a href="https://bitbucket.org/samuel.lai/stackdump/">Stackdump</a></h2>
        Offline StackOverflow and Stack Exchange site browser
      </li>
    </ul>
  </div>
</div>
{{- end }}

{{ define "footer" -}}
{{- end }}
